main {
    padding-top: 0;
}
/* Carrousel */
.carrousel {
    position: relative;
    width: 100%;
    overflow: hidden; /* Cache les images hors du cadre visible */
    display: flex;
    align-items: center; /* Centre les boutons dans la hauteur du carrousel */
    background: 
    radial-gradient(
        closest-side, /* Concentre le dégradé dans un carré */
        rgba(217, 217, 217, 1) 0%, /* Couleur claire au centre */
        rgba(217, 217, 217, 0.8) 20%, /* Estompe plus rapidement */
        rgba(30, 30, 30, 0.66) 80%, /* Noir semi-transparent commence plus tôt */
        rgba(30, 30, 30, 1) 100% /* Noir opaque sur les bords */
    );
}


.carrousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Animation fluide */
}



.carrousel-images img {
    height: auto; /* Garde les proportions originales de l'image */
    width: 20%; /* Les images occupent 100% de la largeur du conteneur */
    flex-shrink: 0; /* Empêche la réduction des images */    
}

.carrousel-item {
    min-width: 100%; /* Une seule image visible à la fois */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Boutons prev/next */
button.prev, button.next {
    position: absolute;
    top: 50%; /* Positionner les boutons au centre verticalement */
    transform: translateY(-50%); /* Ajuste le centrage */
    background-color: rgba(0, 0, 0, 0.5);    
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    z-index: 2; /* Les boutons restent au-dessus des images */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

button.prev {
    left: 1%; /* Position à gauche */
}

button.next {
    right: 1%; /* Position à droite */
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Image du carrousel */
.img_aff_car {
    height: 280px;
    width: 200px;
    padding: 0;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
  

/*Accueil*/
.marginCarrousel {
    padding-top: 10%;
}

.section_acc {
    padding-bottom: 10%; 
}

.titre_acc {
    padding-bottom: 3%;
}

.acc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
    flex-wrap: wrap;
}

.acc_group {
    display: grid; 
    grid-template-rows: auto 1fr; 
    text-align: center; 
}












