.formEncart {
    padding: 5% 0;
}

.formTitre input {
    width: 20%;
}

.blockNote {
    display: flex;
}

.textarea {
    width: 100%;
}

.validation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}